@font-face {
    font-family: "Outfit";
    src: url(fonts/Outfit/static/Outfit-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: "Outfit";
    src: url(fonts/Outfit/static/Outfit-Regular.ttf) format('truetype');
    font-weight: 400;
}


:root{
    --stale_300: hsl(212, 45%, 89%);
    --stale_500: hsl(216, 15%, 48%);
    --stale_900: hsl(218, 44%, 22%);

    --p_size: 16px;
}



*{
    padding: 0px;
    margin: 0px;
}


body{
    font-size: var(--p_size);
    background-color: var(--stale_300);
    padding: 0 20px;
    font-family: 'Outfit';
    text-align: center;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5%;
}

article > img, article > p, article > h3{
    margin: 10px;
}

article > img{
    width: 100%;
    border-radius: 5%;
    margin-bottom: 20px;
}

article > h2 {
    font-weight: 700;
    color: var(--stale_900);
}

article > p {
    
    font-weight: 400;
    color: var(--stale_500);
}