@font-face {
    font-family: "Outfit";
    src: url(fonts/Outfit/static/Outfit-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: "Outfit";
    src: url(fonts/Outfit/static/Outfit-Regular.ttf) format('truetype');
    font-weight: 400;
}

/* Variables */
:root {
    --stale-300: hsl(212, 45%, 89%);
    --stale-500: hsl(216, 15%, 48%);
    --stale-900: hsl(218, 44%, 22%);
    --p-size: 0.9375rem;
}



/* Estilos generales */
body {
    font-size: var(--p-size);
    background-color: var(--stale-300);
    font-family: 'Outfit', sans-serif;
    text-align: center;
    padding: 16px;
}

/* Contenedor principal */
.qr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Tarjeta QR */
.qr-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    max-width: 20rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    
}

/* Elementos de la tarjeta */
.qr-card__image {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    display: block;
    height: auto;
}

.qr-card__title {
    font-weight: 700;
    color: var(--stale-900);
    font-size: 1.3em;
}

.qr-card__description {
    color: var(--stale-500);
    padding-bottom: 20px;
    font-size: 1em;
    margin-top: 15px;
}
